<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>spinwheel</title>
    <link href="spinwheel.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
   <div id="mainbox" class="mainbox">
    <div id="box" class="box">
      <div class="box1">
        <span class="span1"><b>Restaurant 1</b></span>
        <span class="span2"><b>Restaurant 2</b></span>
        <span class="span3"><b>Restaurant 3</b></span>
        <span class="span4"><b>Restaurant 4</b></span>
      </div>
      <div class="box2">
        <span class="span1"><b>Restaurant 5</b></span>
        <span class="span2"><b>Restaurant 6</b></span>
        <span class="span3"><b>Restaurant 7</b></span>
        <span class="span4"><b>Restaurant 8</b></span>
      </div>
    </div> 
    <button class="spin" onclick="rotateFunction()">SPIN</button>
  </div>
  <script src="spinwheel.js"></script>	
  </body>
</html>

